@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Hide the reveal password icon in MS Edge
  Source: https://stackoverflow.com/a/19952071
*/
input::-ms-clear,
input::-ms-reveal {
  display: none;
}

.AccordionTrigger[data-state="open"] > * > .AccordionChevron {
  transform: rotate(90deg);
}

/*
 * Scroll bar style for Chromium-based browsers.
 *
/* Width */
::-webkit-scrollbar {
  @apply w-2;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-slate-950/20;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-cyan-600/50;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-cyan-800;
}
