@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Hide the reveal password icon in MS Edge
  Source: https://stackoverflow.com/a/19952071
*/
input::-ms-clear,
input::-ms-reveal {
  display: none;
}

.AccordionTrigger[data-state="open"] > .AccordionChevron {
  transform: rotate(90deg);
}
